.testscreen {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: [main-start] 1fr [container-start] 2fr [container-end] 1fr [main-end];
}

.top {
  /* height:20vh; */
  grid-column: main-start / main-end;
  background: red;
}

.down {
  grid-column: container-start / container-end;
  height: 20vh;
  background: green;
}
