.postscreen-lg {
  height: calc(100vh - 6.4rem);
  display: flex;
  background: white;
}

.postscreen__image {
  display: flex;
  justify-content: center;
  height: 100%;
  flex: 0.8;
  background: black;
}
.postscreen__image img {
  height: 100%;
  object-fit: cover;
}

.postscreen__cards {
  display: flex;
  flex-direction: column;
  flex: 0.2;
}

.postscreen__sm {
  display: none;
}

@media screen and (max-width: 950px) {
  .postscreen-lg {
    display: none;
  }
  .postscreen__sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
}
