.cardcomment {
  /* border-top: #f0f2f5; */
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  animation: cardanimation 0.5s linear;
}


@keyframes cardanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cardcomment img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.cardcomment__comment {
  background: #f0f2f5;
  border-radius: 50px;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  flex: 1;
}

.cardcomment__comment input[type="text"] {
  background: transparent;
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  width: 80%;
  /* font-weight: 500; */
}

.cardcomment__comment input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.cardcomment::before {
  position: absolute;
  content: "";
  top: 0;
  left: 2rem;
  padding: 0.2px;
  height: 0.2px;
  width: calc(100% - 4rem);
  background-color: #ced0d4;
}

.cardcomment button.comment {
  position: absolute;
  background:transparent;
  border:none;
  outline:none;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-60%);
}
.cardcomment form {
  display: flex;
  width: 100%;
}