.photos {
  background: white;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.photos__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.photos__heading h2 {
  color: #337adf;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 400;
}
.photos__heading h2:hover {
  background: #e4e6eb;
}
.photos__heading--photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.photos__heading--photos img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
}
.photos__heading--photos img {
  cursor: pointer;
}

.photos__heading--photos .photos__heading--photos-wrapper:nth-child(1) img {
  border-radius: 10px 0 0 0;
}
.photos__heading--photos .photos__heading--photos-wrapper:nth-child(3) img {
  border-radius: 0 10px 0 0;
}
.photos__heading--photos .photos__heading--photos-wrapper:nth-child(7) img {
  border-radius: 0 0 0 10px;
}
.photos__heading--photos .photos__heading--photos-wrapper:nth-child(9) img {
  border-radius: 0 0 10px 0;
}
