#navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: white;
  box-shadow: 0.5px 1px 5px #ccc;
  z-index: 222;
  position: sticky;
  top: 0;
  height: 6.4rem;
}

.navbar__logo {
  display: flex;
  width: 25%;
  align-items: center;
  cursor: pointer;
}
.navbar__logo--logo {
  margin-right: calc(0.5rem + 0.1vw);
}
.navbar__logo--logo img {
  object-fit: contain;
}
.navbar__logo--search {
  background: #f0f2f5;
  border-radius: 50px;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.navbar__logo--search .MuiSvgIcon-root {
  font-size: calc(1rem + 1.5vw);
  color: var(--searchigcon-color);
}
.navbar__logo--search input[type="text"] {
  background: transparent;
  outline: none;
  border: none;
  padding: 1rem;
}

.navbar__logo--search input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.navbar__icons {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.navbar__namesicons {
  display: flex;
  align-items: center;
  width: 25%;
}

.navbar__namesicons--name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f2f5;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
}
.navbar__namesicons--name > img {
  margin-right: 0.5rem;
}

.navbar__navicons--icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/* Logout moadal */

.logoutwrapper {
  position: relative;
  top: 24.5rem;
  right: 14rem;
}

/********************* Media query **********************/
@media screen and (max-width: 1060px) {
  .navbar__namesicons--name {
    display: none;
  }

  .navbar__logo--search {
    width: 4.5rem;
  }
  .navbar__logo--search input[type="text"] {
    display: none;
  }
  .navbar__logo--search .MuiSvgIcon-root {
    margin-left: 1rem;
  }
}

/* max-width 700 */
@media screen and (max-width: 700px) {
  .navbar__icons li {
    padding: 0.5rem calc(0.5rem + 1%);
    margin-right: calc(0.001rem + 0.5vw);
  }
}

/* max-width:600 */
@media screen and (max-width: 600px) {
  .navbar__icons--game {
    display: none;
  }
  .navbar__navicons--icons li:nth-child(1) {
    display: none;
  }
}

/* max-width 500 */
@media screen and (max-width: 500px) {
  .navbar__logo {
    width: fit-content;
  }
  .navbar__logo--logo img {
    height: 2.5rem;
  }
  .navbar__logo--search {
    height: 2.5rem;
    width: 2.5rem;
  }
  .navbar__icons li {
    padding: 0.5rem calc(0.2rem + 0.5%);
  }
  .navbar__logo--search .MuiSvgIcon-root {
    margin-left: 0.5rem;
  }
  .activenow::after {
    content: "";
    position: absolute;
    left: -1.2rem;
    width: 200%;
    padding: 0.19rem;
    z-index: 888;
    background: #166ada;
    bottom: -1.1rem;
  }
}
