#sidebarright {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  height: 92vh;
  position: sticky;
  top: 8vh;
}

#sidebarright:hover {
  overflow: auto;
}

.sidebarright__contacts--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  color: #5d646c;
  font-size: 1.2rem;
}

/* .sidebarright__contacts--heading {
  display: grid;
  grid-template-columns: repeat(2, minmax(calc(0.9rem + 50%), 1fr));
  align-items: center;
} */
.sidebarright__contacts--heading h1 {
  margin-left: 0.79rem;
}
/* .sidebarright__contacts--icons {
  flex: 0.3;
  display: flex;
  justify-content: space-around;
} */
.sidebarright__contacts--icons .MuiSvgIcon-root {
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  /* margin-left: 2rem; */
}

.sidebarright__contacts--icons .MuiSvgIcon-root:hover {
  background-color: #e4e6e8;
}

.nofriend {
  padding-left: 1rem;
}
.nofriend h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.nofriend h2 {
  background: #166ADA;
  padding: 2rem;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 10px;
}

/* media query */
@media screen and (max-width: 899px) {
  #sidebarright {
    display: none;
  }
}
