.sidebaronline {
  position: relative;
  display: flex;
  padding: 0.6rem 0.8rem;
  padding: 1rem;
  border-radius: 10px 0 0 10px;
  /* margin-bottom: 0.666vw; */
  width: 100%;
  align-items: center;
}
.sidebaronline:hover {
  background-color: #e4e6e8;
}
.sidebaronline img {
  margin-right: 1rem;
}
.sidebaronline h2 {
  font-size: calc(1rem + 0.4vw);
  font-weight: 500;
}
