.storycard {
    position: relative;
    padding-top: 2rem;
    flex: 1;
    cursor: pointer;
    margin-right: 0.9rem;

  }
  .storycard:last-child {
    margin: 0rem;
  }
  .storycard--name {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }
  .storycard--profilepic {
    position: absolute;
    top: 3rem;
    left: 1rem;
  }
  .storycard--profilepic img {
    height: calc(1rem + 1vw);
    object-fit: cover;
    border-radius: 50%;
    border: 0.01vw solid #166ada;
  }
  .storycard--story {
    /* display:flex; */
    height: calc(15rem + 3.33vw);
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
  }
  
  .storycard--story img {
    /* flex-grow: 1; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .storycard--name h2 {
    font-size: calc(1rem + 0.3vw);
    font-weight: 500;
    color: white;
  }
  
  @media screen and (max-width: 599px) {
    .storycard:nth-child(5) {
      display: none;
    }
    .storycard:nth-child(4) {
      margin: 0rem;
    }
  }
  