.profiletop {
  width: 100%;
  height: 100%;
  /* background: red; */
  background: linear-gradient(
    180deg,
    rgba(197, 207, 220, 1) 0%,
    rgba(255, 255, 255, 1) 90%
  );

  margin-bottom: 1.5rem;
  cursor: pointer;
}

.profiletop__coverpic-wrapper {
  width: 100%;
  height: 35rem;
  display: flex;
  justify-content: center;
}
.profiletop__coverpic {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;

  position: relative;
}

/* .profiletop__coverpic img {
  width: 100%;
  height:40rem;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
} */

.profiletop__profilepic-wrapper {
  width: 100%;
  position: absolute;
  bottom: -2rem;
  left: 0;
}
.profiletop__profilepic {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.profiletop__profilepic img {
  height: 17rem;
  width: 17rem;

  border-radius: 50%;
  border: 0.5rem solid #fff;
}

.profiletop__name-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
}
.profiletop__change-photo {
  position: absolute;
  bottom: -5.5rem;
  background: white;
  display: flex;
  flex-direction: column;
  /* transform: translateY(4rem); */
  z-index: 1;
  border-radius: 10px;
  width: 20vw;

  animation: menuanimate 0.5s linear;
}
.profiletop__change-photo h2 {
  padding: 1.5rem;
  width: 100%;
  border-radius: 0 0 10px 10px;
  font-weight: 400;
  font-size: 1.5rem;
}
.profiletop__change-photo h2:first-child {
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ccc;
}
.profiletop__change-photo h2:hover {
  background: #f2f2f2;
}
.profiletop__name {
  width: 55%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 2rem;
}
.profiletop__name::after {
  position: absolute;
  content: "";
  padding: 0.2px;
  background: #ced0d4;
  width: 100%;
  bottom: 0;
  left: 0;
}

.profiletop__name h1 {
  font-size: calc(1.5rem + 1vw);
}

.profiletop__menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
  background: white;
}

.pmr {
  position: fixed;
  top: 6.3rem;
  left: 0;
  right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 221;

  animation: menuanimate 0.5s ease-in-out;
}

.profiletop__menu {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.profiletop__menu-list {
  display: flex;
  flex: 1;
}
.profiletop__menu-list li {
  position: relative;
  padding: 2rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
  color: #65676b;
  cursor: pointer;
}
.profiletop__menu-list li:first-child {
  color: #1977f3;
}
.profiletop__menu li:hover {
  background-color: #f2f2f2;
}

.profiletop__menu li:first-child:after {
  content: "";
  background-color: #1977f3;
  position: absolute;
  padding: 0.2rem;
  /* height: 2rem; */
  width: 100%;
  bottom: -0.5rem;
  left: 0;
}
.profiletop__menu--names {
  display: flex;
  align-items: center;
}
.profiletop__menu--names img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.profiletop__button {
  display: flex;
}

/* Animations */
@keyframes menuanimate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media Query */
@media screen and (max-width: 1350px) {
  .profiletop__menu {
    width: auto;
  }
}

@media screen and (max-width: 800px) {
  .profiletop__coverpic {
    width: 100%;
  }

  .profiletop__menu-list li:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 765px) {
  .profiletop__menu {
    flex-direction: column;
    align-items: center;
  }
  .profiletop__button {
    margin-top: 2rem;
    justify-self: center;
  }
}

@media screen and (max-width: 445px) {
  .profiletop__menu li:nth-child(5),
  .profiletop__menu li:nth-child(6) {
    display: none;
  }
}
