#loginscreen {
  height: 100vh;
  /* width: 100vw; */
  position: relative;
}
.loginscreen--content {
  position: absolute;
  width: 100%;
  top: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Right side */

.loginscreen__right {
  margin-right: 8rem;
  margin-top: -8rem;
}
.loginscreen__right img {
  height: 11rem;
  width: auto;
  margin-left: -3rem;
}
.loginscreen__right h1 {
  font-size: 2.8rem;
  color: #1c1e21;
  font-weight: 400;
  margin-top: -1.5rem;
}

/* left side */

.loginscreen__left {
  background: white;
  display: flex;
  justify-content: center;
  width: 400px;
  border-radius: 7px;
}
.loginscreen__left--login {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.loginscreen__left--login {
  padding: 1.5rem;
}

.loginscreen__left--login input {
  height: 5.5rem;
  margin-bottom: 1.3rem;
  outline: none;
  border-radius: 5px;
  border: 0.5px solid #dddfe2;
  font-size: 1.8rem;
  padding: 0rem 1rem;
}
.loginscreen__left--login input:focus {
  border: 1px solid #166fe5;
}
.loginscreen__left--login input::placeholder {
  display: block;
  font-size: 1.5rem;
  color: #8a8d91;
  font-weight: 200;
}
.loginscreen__left--login-btn {
  background: #1877f2;
  padding: 1rem 0;
  color: white;
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
}
.loginscreen__left--login-btn:hover {
  background-color: #166fe5;
}

.loginscreen__left--login a {
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  height: 4rem;
  color: #1877f2;
  margin-bottom: 2rem;
  border-bottom: 1px solid #dddfe2;
  cursor: pointer;
}

.loginscreen__left--createaccount-btn {
  background: #42b72a;
  text-align: center;
  padding: 1.5rem 1.5rem;
  color: white;
  border: none;
  outline: none;
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 5px;
  cursor: pointer;
}
.loginscreen__left--createaccount-btn:hover {
  background-color: #36a420;
}
.loginscreen__left + h3 {
  position: absolute;
  bottom: -5rem;
  right: 33rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.loginscreen__left + h3 strong:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Media query */
@media screen and (max-width: 1000px) {
  .loginscreen--content {
    flex-direction: column;
    text-align: center;
    display: inline;
    margin: auto;
  }
  .loginscreen__right {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    margin-bottom: 2rem;
  }
  .loginscreen__left {
    margin: auto;
  }
  .loginscreen__right img {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .loginscreen__left {
    width: 100%;
  }
}
