
.padding-lr-2 {
  padding: 1rem 1rem;
}
.writepostmodal {
  position: absolute;
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: calc(45rem + 10vw);
  /* width: 35%; */
  background: white;
  top: 10rem;
  left: 46%;
  transform: translateX(-44%);
}
.writepostmodal__heading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.writepostmodal__heading .MuiSvgIcon-root {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  color: #666c74;
  display: flex;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1rem;
  border-radius: 50%;
  background: #e5e6ea;
  cursor: pointer;
}
.writepostmodal__heading::after {
  position: absolute;
  content: "";
  right: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #ccc;
}
.writepostmodal__heading .MuiSvgIcon-root:hover {
  background: #d8dadf;
}

.writepostmodal__heading h1 {
  font-size: calc(2rem + 10%);
  font-weight: 500;
}

.writepostmodal__name {
  display: flex;
}
.writepostmodal__name--privacy {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  border-radius: 5px;
  background: #e5e6ea;
  padding: 0.5rem;
}

.writepostmodal__name img {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 1rem;
  object-fit: cover;
  border-radius: 50%;
}
textarea {
  resize: none;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
}
.writepostmodal__icons {
  display: flex;
}
.writepostmodal__icons li {
  flex: 1;
  place-items: center;
  display: flex;
  place-content: center;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.writepostmodal__icons li:hover {
  background-color: #f2f2f2;
}
.writepostmodal__icons img {
  height: 2rem;
}
.writepostmodal__icons .MuiSvgIcon-root {
  font-size: calc(3rem + 0.4vw);
  border-radius: 50%;
}

/* Text area */
.writepostmodal__write textarea {
  font-size: 2.5rem;
  height: auto;
  padding-bottom: 2rem;
}
.writepostmodal__write img {
  height: 20rem;
  object-fit: contain;
}
.writepostmodal__write textarea::placeholder {
  font-size: 2.5rem;
}

/* Upload Buttons */
.writepostmodal__uploadimage {
  position: relative;
  /* width: (100% - 4rem); */
  cursor: pointer;
  width: calc(100% - 2rem);
  border-radius: 10px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid red; */
}

.writepostmodal__uploadimage input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  /* background: green; */
}

.writepostmodal__text h2 {
  font-family: calc(1rem + 1vw);
  font-weight: 500;
}

.wirtepostmodal__button {
  width: 100%;
}
.writepostmodal__btn {
  width: 100%;
  padding: 1rem 0;
  outline: none;
  border: none;
  font-weight: 500;
  font-weight: 600;
  cursor: pointer;
}
